<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SenseAI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>
    <!-- partial:index.partial.html -->
    <body>
        <!-- header design -->
        <header class="header">
            <a href="#" class="logo">SenseAI</a>

            <nav class="navbar">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>
        
        <section class="stbox">
        </section>
        
        <!-- services section design -->
        <section class="services" id="services">
            <h2 class="heading">Jester <span>can help with</span></h2>

            <div class="services-container">
                <div class="services-box">
                    <!-- <i class='bx bx-code-alt'></i> -->
                    <img class="train-gif" src="images/train--1.gif" alt="train-gif">
                    <h3>Travel Details</h3>
                    <p>Provide users with the ability to search and book flights and hotels based on their preferences.
                        Use natural language processing to understand user queries, such as "Find me a flight to Paris next weekend" or "Book a hotel in downtown New York for three nights."</p>
                    <a href="#" class="btn">Read More</a>
                </div>
                <div class="services-box">
                    <!-- <i class='bx bxs-paint'></i> -->
                    <img class="doc-gif" src="images/output-onlinegiftools.gif" alt="doctor">
                    <h3>Doctor appointment</h3>
                    <p>Allow users to book, reschedule, or cancel doctor appointments through a conversational interface.
                        Provide a user-friendly calendar interface to choose available time slots based on the doctor's availability.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
                <div class="services-box">
                    <!-- <i class='bx bx-bar-chart-alt'></i> -->
                    <img class="ai-gif" src="images/ai-voice-generator--1.gif" alt="voice-based-gif">
                    <h3>Voice based interaction</h3>
                    <p>Allow users to interact with the bot using voice commands. For example, users can say, "Book a flight to Paris for next week" or "Find me a nearby doctor for tomorrow."</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </section>
    </body>
</html>
